[Unit]
Description=AMUST Kiosk App
StartLimitIntervalSec=0
After=graphical.target
After=display-manager.service
Wants=graphical.target
Wants=display-manager.service

[Service]
Type=simple
User=@SERVICE_USER@
Environment=DISPLAY=:0
Environment=XAUTHORITY=@SERVICE_USER_HOME@/.Xauthority
WorkingDirectory=@ROOT_DIR@
ExecStart=/bin/bash @ROOT_DIR@/run-kiosk.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
