[Unit]
Description=AMUST Kiosk App
After=graphical.target
After=display-manager.service
Wants=graphical.target
Wants=display-manager.service

[Service]
Type=simple
User=AMUST
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/AMUST/.Xauthority
WorkingDirectory=/home/AMUST/AMUST
ExecStart=/bin/bash /home/AMUST/AMUST/run-kiosk.sh
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
